tex/EIC-BGS-Proposal-main.aux
tex/EIC-BGS-Proposal-main.toc
tex/EIC-BGS-Proposal-main.pdf
tex/EIC-BGS-Proposal-main.synctex.gz
tex/EIC-BGS-Proposal-main.log

tex/document_outline/EIC-BGS-Proposal_outline.aux
tex/document_outline/EIC-BGS-Proposal_outline.toc
tex/document_outline/EIC-BGS-Proposal_outline.pdf
tex/document_outline/EIC-BGS-Proposal_outline.gz
tex/document_outline/EIC-BGS-Proposal_outline.log