tex/EIC-BGS-Proposal-main.aux
tex/EIC-BGS-Proposal-main.toc
tex/EIC-BGS-Proposal-main.pdf
tex/EIC-BGS-Proposal-main.synctex.gz
tex/EIC-BGS-Proposal-main.log

tex/bgsources/bgsources.log
tex/references/references.log

tex/document/EIC-BGS-Proposal-main.aux
tex/document/EIC-BGS-Proposal-main.log
tex/document/EIC-BGS-Proposal-main.pdf
tex/document/EIC-BGS-Proposal-main.synctex.gz
tex/document/EIC-BGS-Proposal-main.toc
tex/document/document_outline/*


